.App {
	text-align: center;
}

input {
	width: 12rem;
	height: 30px;
	text-align: center;
	border: none;
	border-bottom: 1px solid lightgrey;
	font-size: 20px;
	font-weight: 600;
}

select {
	width: 12.5rem;
	height: 30px;
	border: none;
}

.card {
	width: 18.5%;
	display: flex;
	flex-direction: column;
	border: 1px solid lightgrey;
	align-items: center;
	overflow: hidden;
	border-radius: 2px;
	height: 4rem;
}

.card-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
